@import 'timeline-6';
@import '../variables';

.card-document {
  .timeline-wrapper {
    border: 1px solid theme-color(primary);
    padding: 15px;
    height: 200px;
    overflow-y: scroll;
    border-radius: 6px;
  }
}
