@import '~vue-select/src/scss/vue-select.scss';

.v-select {
  .vs__dropdown-toggle {
    height: 45px;
    background-color: #ffffff;
    box-shadow: none;
    border-radius: 0;
  }
  .vs__dropdown-toggle {
    height: 45px;
    border: 1px solid #cbd4e0;
  }
  .vs__selected-options {
    padding: 0 10px;
  }
  input {
    color: #495057;
  }
}
