@import 'bootstrap-variables';


@import '~bootstrap';
@import '~bootstrap-vue';

@import "components/core";
@import 'pages/core';

html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
  background-color: #f7f8fa;
}

.app {
  padding-top: 60px;
  height: 100%;
}

.content {
  width: calc(100% - 280px);
  margin-left: 280px;

  @media (max-width: 1593px) {
    width: 100%;
    margin-left: 0;
  }
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cursor-pointer {
  cursor: pointer;
}

.min-h-full {
  min-height: calc(100vh - 100px);
}

.b-avatar .b-avatar-img img {
  object-fit: cover;
}

.base-bg {
  background-color: #f7f8fa !important;
}
.card-pdf,
.pdf-full {
  min-height: 950px !important;
  height: 100vh !important;
}

.custom-attachment-link {
  text-decoration: none;
}
.custom-attachment-link:hover {
  text-decoration: none;
}

.custom-attachment-label .custom-file-label {
  overflow: auto;
}

.create-internal-document-page .custom-attachment-label .custom-file-label {
  height: 100%;
}

.error-hash-code {
  background-color: red;
}

.toast > a {
  color: black;
}

.org-struct__scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: 120px;
  padding: 0 6px;
}

.org-struct {
  width: 250px;
  font-family: 'Inter', sans-serif;
  position: absolute;
  margin-top: -1px;
  margin-left: -1px;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #e4e2e9;
}

.org-struct__department {
  //color: #716E7B;
  color: #000000;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 10px;
  text-align: center;
  padding-right: 20px;
  padding-top: 10px;
  font-weight: 500;
}
.scroll-page {
  font-size: 10px;
  color: #716e7b;
}
.svg-chart-containersvg-chart-container {
  width: 10800px !important;
  height: 10800px !important;
}

